.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 200px;
    h2 {
        width: 100%;
    }
    form {
        width: calc(100% - 2em);
        display: flex;
        justify-content: space-around;
        align-items: center;
        mat-form-field {
            width: calc(70%);
        }
        button {
            width: calc(30% - 3em);
        }
    }
}