<div id="amis">
  <div id="requete" *ngIf="someRequest">
    <h2>Ces personnes souhaite rejoindre votre réseau :</h2>
    <div class="card" *ngFor="let people of requeteAmis">
      <img src="../../../assets/{{ people.photo }}" alt="">
      <div class="card-description">
        <h3>{{ people.nom }}</h3>
        <p>{{ people.intitule }}</p>
      </div>
      <fa-icon [icon]="faCheck" id="agree" (click)="onAcceptRequest(people)">
      </fa-icon>
      <fa-icon [icon]="faTimes" id="nop" (click)="onRejectRequest(people)">
      </fa-icon>
    </div>
  </div>
  <h2>Relations</h2>
  <div class="card" *ngFor="let ami of amis">
    <img src="../../../assets/{{ ami.photo }}" alt="">
    <div class="card-description">
      <h3>{{ ami.nom }}</h3>
      <p>{{ ami.intitule }}</p>
    </div>
    <button mat-raised-button>Consulter</button>
  </div>
</div>