@import '../../shared/scss/const.scss';

#suggestion-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        font-size: 1.2em ;
        margin: 0 0 1em 0;
    }
    #entreprises, #contacts {
        border-width: 0 0 1px 0;
        margin-bottom: 1em;
    }
}



