<div id="suggestion-container">
  <app-friend-suggestion></app-friend-suggestion>

  <div id="travails" class="element">
    <h2 class="the-square-title">Ces offres d'emploi correspondent à votre
      formation</h2>
    <div class="card" *ngFor="let emploi of emplois">
      <div class="card-description-emploi">
        <h3>{{ emploi.intitule }}</h3>
        <p>{{ emploi.description }}</p>
      </div>
      <button mat-raised-button routerLink="/emplois">Consulter</button>
    </div>
  </div>
</div>