<div id="suggestion-container">
  <div id="entreprises" class="element">
    <h2 class="the-square-title">Ces entreprises pourraient vous intéresser ...
    </h2>
    <div class="card" *ngFor="let entreprise of entreprises">
      <img src="../../../assets/entreprise.jpg" alt="{{ entreprise.nom }}">
      <div class="card-description">
        <h3>{{ entreprise.nom }}</h3>
        <p>{{ entreprise.description }}</p>
      </div>
      <button mat-raised-button
        (click)="displayFollow(entreprise)">Suivre</button>
    </div>
  </div>

  <app-friend-suggestion></app-friend-suggestion>

  <div id="travails" class="element">
    <h2 class="the-square-title">Ces offres d'emploi correspondent à votre
      formation</h2>
    <div class="card" *ngFor="let emploi of emplois">
      <div class="card-description-emploi">
        <h3>{{ emploi.intitule }}</h3>
        <p>{{ emploi.description }}</p>
      </div>
      <button mat-raised-button routerLink="/emplois">Consulter</button>
    </div>
  </div>
</div>