.accueil-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 1em;
}

app-whoami {
    width: 15%;
    position: sticky;
    top: 4em;
}

.main-accueil {
    width: calc(60% - 2em);
    height: 1200px;
}

app-suggestion {
    width: 25%;
    position: sticky;
    top: 4em;
}