<div id="presentation" class="element">
  <div class="photo">
    <img src="../../../assets/{{ iam.photo }}" alt="image utilisateur" />
    <div class="name-container">
      <h2>{{ iam?.firstName }} {{ iam?.name }} : {{ iam?.entitled }}</h2>
    </div>
  </div>
  <div class="description">
    <ul>
      <li>
        City : {{ iam?.city }}
      </li>
      <li>
        BirthDate : {{ iam?.birthDate | date: 'longDate' }}
      </li>
      <li>
        Work in : {{ entreprise?.properties?.name }}
      </li>
      <li>
        Activity domain : {{ activity?.properties?.entitled }}
      </li>
    </ul>
  </div>
</div>