@import '../../shared/scss/const.scss';

.cv-container {
    display: flex;
    flex-direction: column;
}

#competencesAndHobbies {
    display: flex;
    justify-content: space-between;
    app-competences, app-hobbies {
        width: calc(50% - 0.5em);
    }
}





