<div class="cv-container">
  <div id="presentation" class="element">
    <div class="photo">
      <img src="../../../assets/{{ iam.photo }}" alt="{{ iam.nom }}">
    </div>
    <div class="description">
      <h2>{{ iam.nom }}</h2>
      <h3>{{ iam.intitule }}</h3>
      <ul>
        <li>
          {{ iam.ville }}
        </li>
        <li>
          {{ iam.dateDeNaissance | date: 'longDate' }}
        </li>
      </ul>
    </div>
  </div>
  <div id="formations" class="element">
    <h2 class="the-square-title">Formations :</h2>
    <div class="description-formation" *ngFor="let formation of iam.formations">
      <img src="../../../assets/entreprise.jpg" alt="{{ formation.entreprise.nom }}">
      <div class="details">
        <h3>{{ formation.intitule }} : <span class="date">{{ formation.debut | date: 'longDate' }} - {{ formation.fin | date: 'longDate' }}</span></h3>
        <p>{{ formation.description }}</p>
      </div>
    </div>
  </div>
  <div id="competencesAndHobbies">
    <div id="competences" class="element">
      <h2 class="the-square-title">Compétences :</h2>
      <div class="liste" *ngFor="let competence of iam.competences">
        <p>{{ competence.intitule }}</p>
      </div>
    </div>
    <div id="hobbies" class="element">
      <h2 class="the-square-title">Hobbies :</h2>
      <div class="liste" *ngFor="let hobbie of iam.hobbies">
        <p>{{ hobbie.intitule }}</p>
      </div>
    </div>
  </div>
</div>