<div id="competences" class="element">
  <h2 class="the-square-title">
    Compétences :<fa-icon [icon]="faHammer" (click)="show()"></fa-icon>
  </h2>
  <div class="liste" *ngFor="let skill of userSkills; let i = index">
    <p>{{ skill }}</p>
    <button
      mat-flat-button
      color="warn"
      *ngIf="showModify"
      (click)="removeSkill(i)"
    >
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
  </div>
  <form
    #competenceForm="ngForm"
    (ngSubmit)="onSubmit(competenceForm)"
    *ngIf="showModify"
  >
    <mat-form-field>
      <mat-label>Ajout d'une compétence ...</mat-label>
      <mat-select id="skill" name="skill" [(ngModel)]="skill">
        <mat-option value="{{ skill }}" *ngFor="let skill of skills">
          {{ skill }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </form>
</div>
